<style type="text/css">
			#color_me_in{
        background-color: <%= @color %>;
        color: white;
        width: 250px;
        height: 250px;
    }
</style>

<h1>See Your Color</h1>

<div id="color_me_in">
    <p><%= @color.upcase %> BOX ACTIVATED!</p>
</div>


<%= form_tag index_path do %>
 <p><%= text_field_tag :name, nil, placeholder: "Enter your name" %></p>
    <p><%= submit_tag :Gogh %></p>

<% end %>